 <%num = 1 %>
 <% @user['posts']['data'].each do |u| %>
   <% url = u['actions'][0]['link'] %> 
   <ul>
   	<% d = u['created_time'].to_s.split('T').first %>
		<% t = u['created_time'].to_s.split('T').last %>
		<% if u['shares']%>
		  <% s = u['shares']['count'] %>
		<% else %>
		  <% s = 0 %>
		<% end %>  

   <li><a href="<%=  url %>" target="_blank">Post<%= "#{num}" %></a><%= "," %> <%= "Date  -  #{d}," %><%= " Time: #{t}," %><%= " shares - #{s}"%></li>
		  <% num = num + 1 %>	
		 </ul> 
 <% end %>  
	 
	 

